<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Tracker</title>
</head>
<body>
    {% extends "learn_trackers/base.html"%}

    {% block page_header %}
        <div class='jumbotron'>
        <h1 class="display-3">Відстежуйте своє навчання</h1>
        <p class="lead">Створіть власний журнал навчання та зберігайте список
                  тем, які ви вивчаєте. Щоразу, коли ви дізнаєтесь щось нове, зробіть запис, підсумовуючи нові знання.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
                  role="button">Зареєструватися &raquo;</a>
        </div>
    {% endblock page_header %}
</body>
</html>