<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Нова тема</title>
</head>
<body>
    {%  extends "learn_trackers/base.html" %}
    {% load bootstrap4 %}

    {% block page_header %}
        <h3>Додайте нову тему:</h3>
    {% endblock page_header %}

    {% block content %}
        <form action="{% url 'learn_trackers:new_topic' %}" method="post">
            {% csrf_token %}  <!-- захист від атак: міжсайтова підробка запитів -->
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Додати тему</button>
            {% endbuttons %}
        </form>
    {% endblock content %}
</body>
</html>