<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Tracker</title>
</head>
<body>
    {% extends "learn_trackers/base.html" %}

    {% block content %}
    <p>Теми</p>

        <ul>
            {% for topic in topics %}
                <li>
                    <!-- Кожна тема списку пресдтавляє собою посилання на сторінку теми -->
                    <a href="{% url "learn_trackers:topic" topic.id %}">{{ topic }}</a>
                </li>
            {% empty %}
                <li>Жодної теми ще не додано</li>
            {% endfor %}
        </ul>
    {% endblock content %}
</body>
</html>