<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Tracker</title>
</head>
<body>
    {% extends 'learn_trackers/base.html' %}

    {% block page_header %}
        <h3>{{ topic }}</h3>
    {% endblock page_header %}


    {% block content %}
        <p>
            <a href="{% url "learn_trackers:new_entry" topic.id %}">Додати новий запис</a>
        </p>
        <ul>
            {% for entry in entries %}
                <div class="card mb-3">
                    <h4 class="card-header">
                        {{ entry.date_added|date:'F d, Y H:i' }}
                        <small><a href="{% url 'learn_trackers:edit_entry' entry.id %}">редагувати запис</a></small>
                    </h4>
                    <div class="card-body">
                        {{ entry.text|linebreaks }}
                    </div>
                </div>

            {% empty %}
                <p>По цій темі ще не додано жодного запису</p>
            {% endfor %}
        </ul>

    {% endblock content %}
</body>
</html>