<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends "learn_trackers/base.html" %}

    {% block content %}
        {% if form.errors %}
            <p>Ваш логін і пароль не співпадають. Спробуйте ще раз.</p>
        {% endif %}

        <form method="post" action="{% url "users:login" %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="submit">Увійти</button>
            <input type="hidden" name="next"
                value="{% url "learn_trackers:index" %}" />
    </form>
    {% endblock content %}
</body>
</html>